* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.fajitas{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fajitas h2{
    margin-top: 5%;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(233, 128, 42);
    letter-spacing: 10px;
    color: #000;
}

.contenedor-fajitas{
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}

.contenedor-fajitas h3{
    font-size: 20px;
    color: rgb(233, 128, 42);
}

.contenedor-fajitas p li{
    font-size: 18px;
}