<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/aceites.css">
</head>

<div class="productos-aceites">
    <div class="aceites">
        <h2>Aceites</h2>
    </div>
</div>

<div class="contenedor-aceites">
    <div class="aceite-oliva">
        <img src="/images/img-rutas-productos/aceite-oliva.jpg" alt="Aceite de Oliva">
        <h3>Aceite de Oliva</h3>
        <h4>Precio por litro<br>$2000</h4>
    </div>

    <div class="aceite-coco">
        <img src="/images/img-rutas-productos/aceite-coco.jpg" alt="Aceite de Coco">
        <h3>Aceite de Coco</h3>
        <h4>Precio por kilo<br>$2300</h4>
    </div>
</div>