<head>
    <link rel="stylesheet" href="/stylesheets/recetas/bebidas.css">
</head>

<div class="bebidas">
    <h2>Bebida Vegetal de Almendras</h2>
</div>


<div class="contenedor-bebidas">
    <p>Esta receta de leche de almendras no puede ser más sencilla, y es muy similar a 
        preparar cualquier otra leche vegetal, por lo que si te animas a preparar ésta, 
        puedes hacerlo igualmente con otros frutos secos como anarcardos o nueces, y 
        también avena, soja o arroz.
    </p>
    <img src="/images/leches.jpg" alt="bebida de almendra">
    <br>

    <h3>Ingredientes para preparar un litro:</h3>
    <br>

    <ul>
        <li>150 g de almendras crudas. Yo prefiero peladas, pero se pueden utilizar también sin pelar.</li>
        <li>Un litro de agua fría.</li>
        <li>Opcional: Azúcar o endulzante al gusto.</li>
    </ul>
    <br>
    
    <h3>Elaboración:</h3>
    <br>

    <ol>
        <li>Poner las almendras en un bol con agua, que queden completamente cubiertas, y 
            dejarlas en remojo al menos 8 horas, aunque lo ideal es que las tengas así un 
            día entero. Mantenlas en la heladera y cambiales el agua cada 8 horas.</li>
        <li>Verter las almendras sobre un escurridor, enjuagarlas con un chorro de agua y dejarlas escurrir.</li>
        <li>Colocarlas en la licuadora, junto al agua y el endulzante</li>
        <li>Cuela la mezcla con una malla, gasa, filtro de café… lo que te pueda servir para colarla sin dejar escapar ningún grumo.</li>
        <li>Aprieta bien para que salga todo el líquido, y pon la leche resultante en una botella en la heladera, te aguantará 3-4 días.</li>
    </ol>
    <br>

    <h3>Consejo:</h3>
    <br>

    <p>¡Truco! No tires la pulpa que ha quedado en el colador. Podés utilizarla como si 
        fuera harina para sustituir parte de la harina de otras recetas de repostería como 
        bizcochos, magdalenas, galletas o bases para tartas. Yo suelo congelar la pulpa y 
        cuando tengo una buena cantidad, la utilizo para preparar ese tipo de recetas.</p>
</div>