head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/bebidas-veg.css">
</head>
<div class="productos-bebidas-veg">
        <div class="bebidas-veg">
            <h2>Bebidas Vegetales</h2>
        </div>

        <div class="contenedor-bebidas-veg">
            <div class="bebida-almendras">
                <img src="/images/img-rutas-productos/bebida-almendras.jpg" alt="Bebida de Almendras">
                <h3>Bebida de Almendras</h3>
                <h4>Precio por litro<br>$700</h4>
            </div>

            <div class="bebida-nueces">
                <img src="/images/img-rutas-productos/bebida-nueces.jpg" alt="Bebida de Nueces">
                <h3>Bebida de Nueces</h3>
                <h4>Precio por litro<br>$700</h4>
            </div>
        </div>
    </div>