<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/cereales.css">
</head>

<div class="productos-cereales">
    <div class="cereales">
        <h2>Cereales</h2>
    </div>

    <div class="contenedor-cereales">
        <div class="arroz-blanco">
            <img src="/images/img-rutas-productos/arroz-blanco.jpg" alt="arroz blanco">
            <h3>Arroz blanco</h3>
            <h4>Precio por kg<br>$700</h4>
        </div>

        <div class="arroz-integral">
            <img src="/images/img-rutas-productos/arroz-integral.jpg" alt="arroz integral">
            <h3>Arroz integral</h3>
            <h4>Precio por kg<br>$800</h4>
        </div>

        <div class="fideo-sin-huevo">
            <img src="/images/img-rutas-productos/fideo-sin-huevo.jpg" alt="fideo-sin-huevo">
            <h3>Fideo sin Huevo</h3>
            <h4>Precio por kg<br>$700</h4>
        </div>

        <div class="fideo-con-huevo">
            <img src="/images/img-rutas-productos/fideo-con-huevo.jpg" alt="fideo-con-huevo">
            <h3>Fideo con Huevo</h3>
            <h4>Precio por kg<br>$800</h4>
        </div>
    </div>
</div>