<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/especias.css">
</head>

<div class="productos-especias">
    <div class="especias">
        <h2>Especias</h2>
    </div>
</div>

    <div class="contenedor-especias">
        <div class="curcuma">
            <img src="/images/img-rutas-productos/curcuma.jpg" alt="Cúrcuma">
            <h3>Cúrcuma</h3>
            <h4>Precio por kg<br>$600</h4>
        </div>

        <div class="comino">
            <img src="/images/img-rutas-productos/comino.jpg" alt="Comino">
            <h3>Comino</h3>
            <h4>Precio por kg<br>$500</h4>
        </div>

        <div class="pimenton-dulce">
            <img src="/images/img-rutas-productos/pimenton.jpg" alt="Pimentón-dulce">
            <h3>Pimentón dulce</h3>
            <h4>Precio por kg<br>$500</h4>
        </div>

        <div class="ajo-en-polvo">
            <img src="/images/img-rutas-productos/ajo-polvo.jpg" alt="ajo-en-polvo">
            <h3>Ajo en polvo</h3>
            <h4>Precio por kg<br>$800</h4>
        </div>
    </div>
