<head>
    <link rel="stylesheet" href="/stylesheets/recetas/fajitas.css">
</head>

<div class="fajitas">
    <h2>Fajitas</h2>
</div>


<div class="contenedor-fajitas">
    <p>Estas fajitas son ideales para rellenarlas con
        lo que quieras. 
    </p>
    <img src="/images/fajitas.jpg" alt="fajitas">
    <br>

    <h3>Ingredientes para 12 unidades:</h3>
    <br>

    <ul>
        <li>250gr de harina de trigo</li>
        <li>50ml de aceite de oliva o margarina</li>
        <li>125ml de agua (aproximadamente)</li>
        <li>5gr de sal</li>
        <li>2gr de levadura</li>
    </ul>
    <br>

    <h3>Elaboración:</h3>
    <br>

    <ol>
        <li>Tamizamos la harina con la sal y la levadura química.</li>
        <li>Añadimos la margarina en trocitos y mezclamos hasta que queden una especie de migas. Si utilizamos 
            aceite de oliva lo unimos con normalidad, mezclando con la harina.</li>
        <li>Poco a poco vertemos el agua que debe estar ligeramente tibia.</li>
        <li>Formamos una bola que dividimos en partes iguales, podemos pesarlas si nos resulta más cómodo, 
            las cubrimos con film y dejamos que reposen durante unos 30 minutos.</li>
        <li>Estiramos cada bolita con rodillo o bien si tenemos tortillera con ella.</li>
        <li>Calentamos una sartén, aceitamos ligeramente la plancha con ayuda de un papel. 
            Cuando esté bien caliente echamos la tortilla y en cuanto se hinche y forme burbujas en la 
            superficie le damos la vuelta para que se haga por el otro lado.</li>
        <li>Repetimos la operación con el resto de la masa.</li>
    </ol>
    <br>

    <h3>Consejo:</h3>
    <br>

    <p> Consumir lo antes posible con el relleno que prefiramos para que no se pongan duras. 
        Lo ideal es tener el relleno listo de antes o hacerlo mientras la masa reposa, así no hay esperas y 
        nos comemos nuestras fajitas o burritos perfectos.</p>
</div>