<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/frutos-secos.css">
</head>

<div class="productos-frutos">
    <div class="frutos-secos">
        <h2>Frutos secos</h2>
    </div>
</div>

<div class="contenedor-frutos-secos">
    <div class="nueces">
        <img src="/images/img-rutas-productos/nueces.jpg" alt="Nueces">
        <h3>Nueces</h3>
        <h4>Precio por kg<br>$1600</h4>
    </div>

    <div class="almendras">
        <img src="/images/img-rutas-productos/almendras.jpg" alt="Almendras">
        <h3>Almendras</h3>
        <h4>Precio por kg<br>$1500</h4>
    </div>

    <div class="anacardos">
        <img src="/images/img-rutas-productos/anacardos.jpg" alt="Anacardos">
        <h3>Anacardos</h3>
        <h4>Precio por kg<br>$1000</h4>
    </div>

    <div class="mani">
        <img src="/images/img-rutas-productos/mani.jpg" alt="Maní">
        <h3>Maní</h3>
        <h4>Precio por kg<br>$800</h4>
    </div>
</div>