<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/harinas.css">
</head>
<div class="productos-harinas">
    <div class="harinas">
        <h2>Harinas</h2>
    </div>

    <div class="contenedor-harinas">
        <div class="harina-trigo">
            <img src="/images/img-rutas-productos/harina-trigo.jpg" alt="Harina de Trigo">
            <h3>Harina de Trigo</h3>
            <h4>Precio por kg<br>$1000</h4>
        </div>

        <div class="harina-almendras">
            <img src="/images/img-rutas-productos/harina-almendras.jpg" alt="Harinas de Almendras">
            <h3>Harina de Almendras</h3>
            <h4>Precio por kg<br>$1300</h4>
        </div>

        <div class="harina-garbanzos">
            <img src="/images/img-rutas-productos/harina-garbanzo.jpg" alt="Harina de Garbanzos">
            <h3>Harina de Garbanzos</h3>
            <h4>Precio por kg<br>$1200</h4>
        </div>

        <div class="harina-arroz">
            <img src="images/img-rutas-productos/harina-arroz.jpg" alt="Harina de Arroz">
            <h3>Harina de Arroz</h3>
            <h4>Precio por kg<br>$800</h4>
        </div>
    </div>
</div>