<head>
    <link rel="stylesheet" href="/stylesheets/recetas/hummus.css">
</head>

<div class="hummus">
    <h2>Hummus de Garbanzos</h2>
</div>


<div class="contenedor-hummus">
    <p>Estas barritas de cereales caseras son fáciles de hacer y quedan perfectas,
        como las que se compran, pero con ingredientes naturales y a tu gusto.
    </p>
    <br>

    <h3>Ingredientes para 12 barritas (molde de 30×20 cm)</h3>
    <br>

    <ul>
        <li>2 claras de huevo (o solo una si son huevos grandes)</li>
        <li>200 g de copos de avena</li>
        <li>50 g de arroz inflado o corn flakes u otro cereal a tu gusto</li>
        <li>2 cucharadas de mantequilla (o margarina para los veganos)</li>
        <li>100 g de azúcar moreno (puedes usar fructosa o stevia si las quieres más dietéticas)</li>
        <li>2 cucharadas soperas de miel</li>
        <li>2 cucharadas de pasas sin semillas o ciruelas secas picadas</li>
    </ul>
    <br>

    <h3>Elaboración de las barritas de cereales caseras</h3>
    <br>

    <ol>
        <li>Para empezar las barritas de cereales caseras, fundimos la mantequilla 30 seg. en el microondas con la miel
            y el
            azúcar y lo batimos bien.</li>
        <li>Cuando temple un poco la mezcla añadimos los copos de avena, el arroz y las pasas o ciruelas y las claras
            montadas casi a punto de nieve. Mezclamos todo muy bien con movimientos suaves.</li>
        <li>Precalentamos el horno a 180º C.</li>
        <li>Ponemos la mezcla en en fondo de un molde ancho y cuadrado o rectangular. Tiene que estar muy bien engrasado
            con
            mantequilla (lo mejor es un molde rectangular para cortar en barritas). Aplanamos la superficie.</li>
        <li>Hay que hornear entre 10 y 15 min. hasta que empieza a dorar. Dejamos enfriar (hasta que no enfríen no
            estarán
            crujientes). Después ya podemos desmoldar y cortamos del tamaño de las barritas que más te gusten.</li>
        <li>Podemos conservarlas de maravilla bastante tiempo en un recipiente hermético.</li>
    </ol>
    <br>

    <h3>Consejos y Comentarios</h3>
    <br>

    <p>En lugar de pasas o ciruelas, a estas barritas de cereales caseras puedes añadirles avellanas o almendras
        picadas, o
        frutos rojos (si son deshidratados hidrátalos 10 min en agua caliente).</p>
</div>