<head>
    <link rel="stylesheet" href="/stylesheets/recetas/hummus.css">
</head>

<div class="hummus">
    <h2>Hummus de Garbanzos</h2>
</div>


<div class="contenedor-hummus">
    <p>Un dip riquísimo y súper fácil de preparar. Lo podés consumir con pan, en ensaladas como adhereso, etc.
    </p>
    <br>

    <h3>Ingredientes:</h3>
    <br>

    <ul>
        <li>1 taza de garbanzos cocidos (puede ser una lata)</li>
        <li>4 dientes de ajo grandes o 6 pequeños</li>
        <li>2 cdas. de aceite de oliva extra virgen</li>
        <li>3 cdas. de jugo de limón</li>
        <li>3 cdas. de agua</li>
        <li>Pimentón</li>
        <li>Sal y pimienta</li>
    </ul>
    <br>

    <h3>Elaboración:</h3>
    <br>

    <ol>
        <li>Para comenzar con la receta vamos a poner en una asadera para horno los ajos, con cáscara. 
            Pincharlos para que no exploten. Asarlos a fuego medio por unos 15-20 minutos.</li>
        <li>Luego de pelar los ajos, habrá quedado una pasta. Si alguna parte del interior se quemó, lo que es común, 
            sacarla. Que quede solo la pasta de ajos sin partes quemadas para no agregar sabores indeseados a nuestro 
            hummus casero.</li>
        <li>Poner en el vaso de la procesadora o mini pimmer todos los ingredientes menos el agua: garbanzos, ajos, 
            jugo de limón, sal y pimienta. Triturar. Ir agregando el agua hasta lograr la 
            consistencia deseada. El tradicional debe quedar como una pasta suave, pero recuerden que esto es a 
            gusto y pueden lograr un humus con la consistencia que prefieran.</li>
        <li>Rectificar sal  y ya tenemos un hummus tradicional listo para llevar a la mesa.</li>
        <li>Siempre servir con aceite de oliva y pimentón por encima.</li>
    </ol>
    <br>
</div>