<!-- INICIO 1ER PÁGINA: BANNER -->
    <section class="banner" id="inicio">
        <div class="content">
            <h1>Granel de Sabores</h1>
            <p>De la tierra, a tu mesa</p>
        </div>
    </section>
    <!-- FIN 1ER PÁGINA -->




    <!-- INICIO 2DA PÁGINA: PRODUCTOS -->
    <div class="container-2" id="productos" >
        <div class="contenedor-productos">
            <h2>Productos</h2>
        </div>

        <a href="/cereales">
        <div class="image">
            <img src="images/cereales.jpg" alt="Cereales">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Cereales</i>
        </div>
        </a>

        <a href="/especias">
        <div class="image">
            <img src="images/especias.jpg" alt="Especias">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Especias</i>
        </div>
        </a>

        <a href="/frutos-secos">
        <div class="image">
            <img src="images/frutos-secos.jpg" alt="Frutos Secos">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Frutos Secos</i>
        </div>
        </a>

        <a href="/harinas">
        <div class="image">
            <img src="images/harinas.jpg" alt="Harinas">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Harinas</i>
        </div>
        </a>

        <a href="/legumbres">
        <div class="image">
            <img src="images/legumbres.jpg" alt="Legumbres">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Legumbres</i>
        </div>
        </a>

        <a href="/semillas">
        <div class="image">
            <img src="images/semillas.jpg" alt="Semillas">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Semillas</i>
        </div>
        </a>

        <a href="/bebidas-veg">
        <div class="image">
            <img src="images/leches.jpg" alt="Bebidas Vegetales">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Bebidas Vegetales</i>
        </div>
        </a>

        <a href="/organicos">
        <div class="image">
            <img src="images/orgánicos.jpg" alt="Orgánicos">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Orgánicos</i>
        </div>
        </a>

        <a href="/aceites">
        <div class="image">
            <img src="images/aceites.jpg" alt="Aceites">
            <i class="fas fa-search fa-5x"></i>
            <i class="texto-productos">Aceites</i>
        </div>
        </a>
    </div>
    <!-- FIN 2DA PÁGINA -->





    <!-- INICIO 3ER PÁGINA: UN POCO SOBRE MI -->
    <section class="main-section" id="conoceme">
        <h2>Un poco sobre mi...</h2>

        <div class="container">
            <div class="col-lg-5 col-md-12">
                <div class="box">
                    <h3>Estefanía Zakovicz</h3>
                    <h4>Licenciada en Nutrición</h4>
                    <h4>Instructora de Elongación y Postura</h4>

                    <div class="second-section">
                        <img class="imagen-conoceme" src="images/miFoto.jpeg" alt="Tu foto">
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <p>Si te gusta comer de manera saludable, <br>esta página es para vos! <br>
                    Estudié la carrera de Nutrición porque quería entender cómo debería ser una
                    alimentación variada, nutritiva y bien elaborada. Y por supuesto que te lo quiero enseñar! <br> Aquí
                    vas a encontrar productos
                    que sí o sí recomiendo tenerlos en casa. Además, hay una sección de recetas para que pruebes
                    distintos
                    sabores y texturas. Y más abajo, una sección de ejemplos de reemplazos de otros alimentos. Espero te
                    guste,
                    y cualquier comentario que quieras dejarme, será bienvenido en el formulario que está al final de la
                    página. ¡Gracias por tu visita!
                </p>
            </div>
        </div>
    </section>
    <!-- FIN 3ER PÁGINA-->




    <!-- INICIO 4TA PÁGINA: RECETAS-->
    <div class="contenedor-recetas" id="recetas">
        <div class="recetas">
            <h2>Recetas</h2>
        </div>
        <div class="recetas-carousel">
            <div class="receta-item active">
                <img class="receta-img" src="images/barritas.jpg" alt="Receta 1">
                <div class="receta-titulo">Barritas</div>
            </div>
            <div class="receta-item">
                <img class="receta-img" src="images/fajitas.jpg" alt="Receta 2">
                <div class="receta-titulo">Fajitas</div>
            </div>
            <div class="receta-item">
                <img class="receta-img" src="images/hummus.jpg" alt="Receta 3">
                <div class="receta-titulo">Hummus</div>
            </div>
            <div class="receta-item">
                <img class="receta-img" src="images/kombucha.jpg" alt="Receta 4">
                <div class="receta-titulo">Kombucha</div>
            </div>
            <div class="receta-item">
                <img class="receta-img" src="images/leches.jpg" alt="Receta 5">
                <div class="receta-titulo">Bebidas</div>
            </div>
            <div class="receta-item">
                <img class="receta-img" src="images/pan.jpg" alt="Receta 6">
                <div class="receta-titulo">Pan</div>
            </div>
        </div>
    </div>
    <link href="https://getbootstrap.com/docs/5.3/components/carousel/">
    <!-- FIN 4TA PÁGINA -->






    <!-- INICIO 5TA PÁGINA: CONSEJOS NUTRICIONALES -->
    <div class="consejos-nutricionales" id="consejos">
        <h2>Consejos Nutricionales</h2>
        <div class="consejos">
            <div class="consejos-1">
                <h3 class="text-center">Reemplazos del huevo</h3><br>

                <div class="textos-consejos">
                    <li>Linaza o chía: Mezcla 1 cucharada de semillas de linaza o chía molidas con
                        3 cucharadas de agua y déjala reposar durante unos 10-15 minutos hasta que se forme un gel.
                        Esta mezcla se puede utilizar para reemplazar un huevo en recetas de horneado.</li><br><br>
                    <li>Puré de banana o de manzana: Utiliza 1/4 de taza de puré de banana madura (aproximadamente la
                        cantidad
                        de un huevo) como sustituto en recetas de panqueques, muffins, pasteles y panes.</li>
                </div>
            </div>

            <div class="consejos-2">
                <h3 class="text-center">Reemplazos de carne animal</h3><br>

                <div class="textos-consejos">
                    <li>Podés reemplazar una porción de carne animal por legumbres como garbanzas, lentejas, porotos,
                        o una combinación de las mismas.<br>También, podés optar por tofu.<br><br><br>
                    <li>Tip: Te recomiendo remojar las legumbres
                        al menos por 12 horas y luego cocinarlas el mismo día. Después de enfriadas, congelalas por
                        separado. Al tirar
                        un poco de agua caliente sobre la porción que vas a consumir,
                        ya estarían listas para saborearlas y combinarlas en tu plato con los demás alimentos.</li>
                    </li>
                </div>
            </div>

            <div class="consejos-3">
                <h3 class="text-center">Reemplazos de queso animal</h3><br>

                <div class="textos-consejos">
                    <li>El queso puede prepararse a base de anacardos; legumbres; papa, entre otros alimentos.</li>
                    <li>También existe la levadura nutricional, que es similar al queso rallado.</li><br><br><br>
                    <li>Tip: en intenet podés encontrar muchísimas recetas de quesos veganos con distintos
                        alimentos y son muy fáciles de prepararlos. Te animo a que te desafíes a hacerlas y
                        así probar opciones más nutritivas para tu salud.
                    </li>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN 5TA PÁGINA -->






    <!--INICIO 6TA PÁGINA: Mapa y Formulario-->
    <div class="contenedor-7" id="contacto">

        <div class="iframe">
            <h2>Contacto</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14173.647003683816!2d-55.902453699999995!3d-27.362853449999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bf8ae49856c1%3A0x5cb18155257d9c95!2sMonumento%20a%20Andresito%20Guacurar%C3%AD!5e0!3m2!1ses-419!2sar!4v1683073516040!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" frameborder="0" frameborder="0"></iframe>
        </div>

        <div class="contact-form">
            <form action="/" method="post">
                <h3 class="title">Para más información, inquietud o sugerencias, completá el siguiente formulario:
                </h3>
                <div class="input-container">
                    <input type="text" name="nombre" class="input" id="nombre"/>
                    <label for="nombre">Nombre</label>
                    <span>Nombre</span>
                </div>
                <div class="input-container">
                    <input type="email" name="email" class="input" id="email" />
                    <label for="email">Email</label>
                    <span>Email</span>
                </div>
                <div class="input-container">
                    <input type="tel" name="telefono" class="input" id="telefono"/>
                    <label for="telefono">Teléfono</label>
                    <span>Teléfono</span>
                </div>
                <div class="input-container textarea">
                    <textarea name="mensaje" class="input" id="mesaje"></textarea>
                    <label for="mensaje">Mensaje</label>
                    <span>Mensaje</span>
                </div>
                <input type="submit" value="Enviar" class="boton" />
                <p>{{message}}</p>
            </form>
            
        </div>
    </div>
    <!-- FIN 6TA PÁGINA -->
