<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página Web</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
    <link rel="shortcut icon" href="/images/logosinfondo.jpg" type="image/x-icon"> <!--Logo en pestaña de página web-->
    <link rel="stylesheet" href="/stylesheets/nuevo.css">
</head>

<body>

    <!-- INICIO BARRA DE NAVEGACIÓN -->
    <nav class="nav">
        <ul class="nav-links">
            <img src="/images/logosinfondo.jpg" width="50" alt="Logo">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#productos">Productos</a></li>
             <li><a href="#conoceme">Conóceme</a></li>
            <li><a href="#recetas">Recetas</a></li>
            <li><a href="#consejos">Consejos Nutricionales</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <link href="https://getbootstrap.com/docs/5.3/components/navbar/">
    <!-- FIN BARRA DE NAVEGACIÓN -->
    {{{body}}}

    <!-- INICIO FOOTER -->
    <footer class="footer">
        <p class="texto-footer">Diseñado por Estefanía Zakovicz</p>
    </footer>
    <!-- FIN FOOTER -->

    <script src="/javascripts/nuevo.js"></script>
  </body>
</html>
