<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/legumbres.css">
</head>
<div class="productos-legumbres">
    <div class="legumbres">
        <h2>Legumbres</h2>
    </div>

    <div class="contenedor-legumbres">
        <div class="garbanzos">
            <img src="/images/img-rutas-productos/garbanzos.jpg" alt="Garbanzos">
            <h3>Garbanzos</h3>
            <h4>Precio por kg<br>$1000</h4>
        </div>

        <div class="porotos">
            <img src="/images/img-rutas-productos/porotos-negros.jpg" alt="Porotos">
            <h3>Porotos</h3>
            <h4>Precio por kg<br>$1300</h4>
        </div>

        <div class="lentejas">
            <img src="/images/img-rutas-productos/lentejas.jpg" alt="Lentejas">
            <h3>Lentejas</h3>
            <h4>Precio por kg<br>$1200</h4>
        </div>

        <div class="arvejas">
            <img src="/images/img-rutas-productos/arvejas.jpg" alt="Arvejas">
            <h3>Arvejas</h3>
            <h4>Precio por kg<br>$800</h4>
        </div>
    </div>
</div>