<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/organicos.css">
</head>'
<div class="productos-organicos">
    <div class="organicos">
        <h2>Productos orgánicos</h2>
    </div>

    <div class="contenedor-organicos">
        <div class="soja-textu-org">
            <img src="/images/img-rutas-productos/soja-texturizada.jpg" alt="Soja Texturizada Orgánica">
            <h3>Soja Texturizada Orgánica</h3>
            <h4>Precio por kilo<br>$1200</h4>
        </div>
    </div>
</div>