<head>
    <link rel="stylesheet" href="/stylesheets/recetas/pan.css">
</head>

<div class="pan">
    <h2>Pan de Avena</h2>
</div>


<div class="contenedor-pan">
    <p>La avena es un cereal que recomendamos que incorpores en tu dieta. Tiene una gran cantidad de fibra 
        en su composición, es por eso que mejora el tránsito intestinal y favorece el desarrollo de bacterias 
        intestinales que mejoran la salud, y además, la avena también ayuda a regular el colesterol y 
        tiene un bajo índice glucémico. 
    </p>
    <br>

    <h3>Ingredientes:</h3>
    <br>

    <ul>
        <li>100 gramos de harina de avena</li>
        <li>300 centímetros cúbicos de agua (aproximadamente)</li>
        <li>40 gramos de copos de avena</li>
        <li>4 gramos de levadura en polvo (¼ sobre)</li>
        <li>1 cucharadita de sal</li>
        <li>1 cucharada sopera de aceite</li>
    </ul>
    <br>

    <h3>Elaboración:</h3>
    <br>

    <ol>
        <li>Para empezar a preparar la receta de pan de avena, primero mezcla la harina con los copos.</li>
        <li>Haz un hueco en el medio y en el centro, vuelca la levadura en polvo, el aceite y el agua tibia poco a poco. 
            Aproximadamente necesitarás 300 cc para obtener una mezcla similar a la de los panqueques, pero algo más espesa. 
            Sin embargo, debes agregar el líquido de forma progresiva, ya que cada harina se hidrata de forma particular.</li>
        <li>A continuación, prepara un molde con aceite o rocío vegetal y harina. Si lo deseas, puedes usar un molde de 
            silicona o antiadherente y solo necesitarás añadirle aceite. También podrías reemplazarlo por papel manteca. 
            En este caso, es un molde savarín de 16 cm de diámetro. Y si quieres realizar un pan de avena del tamaño molde, 
            triplica las cantidades y vuelca la preparación de tu pan de avena, tápalo. Déjalo reposar unos 30 minutos o 1 hora hasta que leude.</li>
        <li>Una vez leudado, cocina tu pan de avena en el horno a 200 ºC aproximadamente 30 minutos.</li>
        <li>Cuando hayan pasado los 30 minutos y el pan de avena esté cocido, podrás pincharlo con un cuchillo o con un palillo 
            y no quedarán restos de pan en él.</li>
        <li>Finalmente, deja enfriar tu pan de avena antes de probarlo y disfrútalo a tu gusto con mermeladas, fiambres o sin nada. 
            ¡Listo para comer el pan de avena!</li>
    </ol>
    <br>
</div>