<head>
    <link rel="stylesheet" href="/stylesheets/rutas-productos-css/semillas.css">
</head>
<div class="productos-semillas">
    <div class="semillas">
        <h2>Semillas</h2>
    </div>

    <div class="contenedor-semillas">
        <div class="chia">
            <img src="/images/img-rutas-productos/chia.jpg" alt="Chía">
            <h3>Chía</h3>
            <h4>Precio por kg<br>$600</h4>
        </div>

        <div class="girasol">
            <img src="/images/img-rutas-productos/girasol.jpg" alt="Girasol">
            <h3>Girasol</h3>
            <h4>Precio por kg<br>$900</h4>
        </div>

        <div class="lino">
            <img src="/images/img-rutas-productos/lino.jpg" alt="Lino">
            <h3>Lino</h3>
            <h4>Precio por kg<br>$1000</h4>
        </div>

        <div class="sesamo">
            <img src="/images/img-rutas-productos/sesamo.jpg" alt="Sésamo">
            <h3>Sésamo</h3>
            <h4>Precio por kg<br>$1000</h4>
        </div>
    </div>
</div>