<head>
    <link rel="stylesheet" href="/stylesheets/recetas/tepache.css">
</head>

<div class="tepache">
    <h2>Tepache</h2>
</div>


<div class="contenedor-tepache">
    <p>Se trata de una bebida fermentada, viva, con propiedades beneficiosas para la salud y la microbiota gracias a sus
        bacterias activas,
        producidas con la fermentación espontánea. Se prepara con cáscaras de fruta, agua y azúcar. PUEDE TOMARSE COMO
        REFRESCO O COMO BEBIDA LIGERAMENTE ALCOHÓLICA
        Puedes prepararlo como bebida refrescante y ligera, algo carbonatada, o como bebida poco alcohólica (entre 4-8º
        vol), como la cerveza. Todo depende del tiempo de fermentación y reposo de los ingredientes.

        Para refrescarte y tomarlo como un refresco dulce, si el clima es cálido puedes necesitar inicialmente entre 24
        y 48 horas para una primera fermentación. Si quieres carbonatarlo más,
        puedes dejarlo otras 24 o 48 horas más. Llegado a este punto, hay que guardarlo en la heladera para detener el
        proceso, ya que si no, arrancará la fase posterior,
        que es cuando se convierte en bebida ligeramente alcohólica (suele ocurrir a las dos semanas). Después se
        convertirá en vinagre, su tercera fase.
    </p>
    <br>

    <h3>Ingredientes para realizar tepache de ananá:</h3>
    <br>

    <ul>
        <li>Cáscara de un ananá y todo lo que no consumas de la fruta</li>
        <li>1 litro y medio de agua</li>
        <li>3 cucharadas soperas de azúcar negra</li>
    </ul>
    <br>

    <h3>Elaboración:</h3>
    <br>

    <ol>
        <li>Lava el ananá con un cepillo, y luego procede a pelar, separando lo que vas a comer de lo que habitualmente
            desecharías.</li>
        <li>Disuelve bien el azúcar en el agua ligeramente caliente sin hervir.</li>
        <li>Poner la mezcla en un recipiente de cristal o barro y tapar con una tela porosa para que inicie la
            fermentación en un lugar cálido y seco de la cocina sin superar los 30º C.</li>
        <li>Dejar reposar de 2 a 3 días máximo. Empieza a probar a partir del segundo día para apreciar su evolución
            y asegurarte de que no pasa a alcohol. Cuando esté listo, colar y guardar en la heladera para consumirlo
            fresco y detener la fermentación.</li>
        <li>Prolongar hasta 15 días la fermentación si querés conseguir un tepache con algunos grados de alcohol y
            luego tapar y meter en la nevera.</li>
    </ol>
    <br>

    <h3>Consejos y Comentarios</h3>
    <br>

    <p>Si quieres probar los beneficios y el sabor de esta bebida fermentada y deliciosa, te aconsejamos empezar
        por el tepache de piña, el más popular. También puedes usar manzana, mango (incluido su hueso), frambuesas,
        coco, o cualquier fruta o verdura dulce como las alcachofas, la calabaza o las zanahorias, pero no frutas
        cítricas como el limón o la lima.

        Su peculiaridad es que se aprovecha también su piel y cáscara, algo que hace esta propuesta completamente
        sostenible
        porque se aprovecha todo. Pero justo por eso, solo te conviene preparar tepache con productosecológicos para
        evitarte
        pesticidas.</p>
</div>