* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.productos-legumbres{
    width: 100%;
    height: 10vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.legumbres h2 {
    margin-top: 40px;
    font-size: 60px;
    text-shadow: 3px 3px 1px rgb(233, 128, 42);
    letter-spacing: 10px;
    color: #000;
}

.contenedor-legumbres {
    width: 100%;
    height: 80vh;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.contenedor-legumbres img {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-size: cover;

}

.contenedor-legumbres h3 {
    font-size: 20px;
    margin-top: 120px;
    text-align: center;
    color: rgb(233, 128, 42);
}

.contenedor-legumbres h4 {
    font-size: 16px;
    text-align: center;
    color: #000;
}